.pet-card {
    transition: transform 0.3s;
    margin-bottom: 20px;
}
.pet-card:hover {
    transform: translateY(-5px);
    box-shadow: 0 10px 20px rgba(0,0,0,0.1);
}
.pet-image {
    height: 200px;
    object-fit: cover;
  }
.gender-male {
    color: #0d6efd;
}
.gender-female {
    color: #dc3545;
}
