@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&display=swap');


:root {
    --bs-font-sans-serif: Oswald;
  }
body {
    background-color:  #aadbf4;
}
.pet-card {
    transition: transform 0.3s;
    margin-bottom: 20px;
}
.pet-image {
    height: 200px;
    object-fit: cover;
    border-radius: 0.75rem;
    border: 3px solid #ffffff;
  }
.gender-male {
    color: #0d6efd;
}
.gender-female {
    color: #dc3545;
}
